services:
  backend:
    container_name: portfolio-backend
    image: portfolio-backend
    build:
      context: ./backend
    ports:
      - "8080:8080"
    environment:
      - NODE_ENV=production
      - PORT=8080
    networks:
      - portfolio-network

  frontend:
    container_name: portfolio-frontend
    image: portfolio-frontend
    build:
      context: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - portfolio-network

networks:
  portfolio-network:
    driver: bridge
